<div class="reveal" id="export-modal" data-reveal>
  <div class="reveal__header">
    <h2 class="reveal__title"><%= t(".title") %></h2>
    <button class="close-button" data-close aria-label="close"
      type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row">
    <p><%= t(".description_html", email: current_user&.email) %></p>
  </div>

  <div class="row">
    <form action="<%= export_document_suggestions_path(document) %>" method="post">
      <div class="column flex-center">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <button type="submit" class="button primary expanded"><%= t(".send") %></button>
      </div>
    </form>
  </div>
</div>
