<%= decidim_modal id: "exportSuggestionsModal" do %>
  <div data-dialog-container>
    <h3 class="h3 mb-2"><%= t(".title") %></h3>
  </div>
  <div data-dialog-container>
    <p><%= t(".description_html", email: current_user&.email, count: all_suggestions&.count) %></p>
  </div>
  <div class="row text-center mt-8 my-2" data-dialog-actions>
    <button type="button" class="export-button button button__lg button__secondary" data-url="<%= export_document_suggestions_path(document) %>"><%= t(".send") %></button>
  </div>
<% end %>
