<% if document.present? %>
  <h2><%= translated_attribute document.title %></h2>
  <p><%= translated_attribute document.description %></p>

  <% if document.file.present? %>
    <%= link_to t(".participate"), pdf_doc_documents_path, class: "button" %>
  <% else %>
    <p class="text-center heading2 text-primary"><%= t(".not_ready_doc") %></p>
  <% end %>

<% else %>
  <p class="text-center heading2 text-primary"><%= t(".not_ready_component") %></p>
<% end %>
