<%= append_stylesheet_pack_tag "decidim_participatory_documents" %>
<%= append_javascript_pack_tag "decidim_participatory_documents" %>
<div class="participatory-space__container">
  <section class="content-block">
    <% if document.present? && document.file.attached? %>
      <%= content_tag(:h3, sanitize(translated_attribute(document.title)), class: "h2") if translated_attribute(document.title).present? %>
      <%= content_tag(:p, sanitize(translated_attribute(document.description)), class: "description") if translated_attribute(document.description).present? %>
      <% if preview_mode? %>
        <div class="callout announcement mb-sm warning cell-announcement">
          <h3 class="h3"><%= t("decidim.participatory_documents.documents.preview_title") %></h3>
          <p class="my-2"><%= t("decidim.participatory_documents.documents.publish_description") %></p>
          <div class="flex--fsc">
            <%= back_edit_pdf_btn %>
            <%= finish_publish_btn %>
          </div>
        </div>
      <% end %>
      <div class="row pdf-viewer-container">
        <pdf-iframe src="<%= pdf_viewer_documents_path(file: document.attached_uploader(:file).path) %>" width="100%" height="100%" id="pdf-iframe" frameborder="0" allowfullscreen_="" webkitallowfullscreen_="true" mozallowfullscreen_="true" oallowfullscreen_="true" msallowfullscreen_="true">
          <noscript>
            <h3 class="text-center"><%= t("decidim.participatory_documents.documents.not_supported") %></h3>
          </noscript>
        </pdf-iframe>
      </div>
    <% else %>
      <div class="row">
        <p><%= t("decidim.participatory_documents.documents.missing") %></p>
      </div>
    <% end %>
  </section>
</div>
