<!DOCTYPE html>
<html dir="ltr" mozdisallowselectionprint>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="google" content="notranslate">
  <title>PDF.js viewer</title>

  <link rel="stylesheet" href="/pdfjs/web/viewer.css">

  <script src="/pdfjs/build/pdf.js"></script>

  <!-- This snippet is used in production (included from viewer.html) -->
  <link rel="resource" type="application/l10n" href="/pdfjs/web/locale/locale.properties">
  <script src="/pdfjs/web/viewer.js"></script>
  <%= javascript_pack_tag "decidim_participatory_documents_viewer" %>
  <%= stylesheet_pack_tag "decidim_participatory_documents_viewer" %>
  <%= organization_colors %>
  <%= pdf_custom_style %>
  <%= csrf_meta_tags %>
</head>

<body tabindex="1">
  <%= render "decidim/participatory_documents/documents/pdfjs_base", display_suggestions: true %>

  <%= render "modals" %>

  <div id="notifications"></div>

  <div id="participation-modal"></div>

  <script>

    var I18n = <%= I18n.t("decidim.participatory_documents.ui_messages").to_json.html_safe %>;
    var DocumentPath = '<%= document_path(document).split("?")[0] %>';
    var CurrentBoxes = <%= document.annotations.collect(&:serialize).to_json.html_safe %>;
    var pages = {};

    PDFViewerApplication.initializedPromise.then(function() {
      var options = {
        i18n: I18n,
        documentPath: DocumentPath,
        globalSuggestionsButton: document.getElementById("globalSuggestionTrigger"),
        participationLayout: document.getElementById("participation-modal"),
        exportButton: document.getElementById("exportSuggestionsTrigger"),
        exportModal: document.getElementById("export-modal")
      };

      window.InitDocumentManagers(options);

      window.showInfo(I18n.startSuggesting, {delay: 5000});

      PDFViewerApplication.eventBus.on('annotationeditorlayerrendered', function (doc) {
        var page = PDFViewerApplication.pdfViewer._pages[doc.pageNumber - 1];
        var annotationsLayer = page.annotationEditorLayer && page.annotationEditorLayer.div;
        var savedPage = pages[doc.pageNumber];
        // Let's render the object only if not already existing.
        // Note that the PDF library might redraw the annotation layer, if this happens we need to re-render the areas.
        if(annotationsLayer && (!savedPage || savedPage.boxEditor.div !== annotationsLayer)) {
          page.boxEditor = window.InitPolygonViewer(annotationsLayer, CurrentBoxes.filter(box => box.page_number === doc.pageNumber), options);
          pages[doc.pageNumber] = page;
        }
      });
    });
  </script>
</body>
</html>
