<tr data-id="<%= section.id %>">
  <td>
    <%= check_box_tag "document_ids_s[]", section.id, false,
                      class: "js-check-all-document js-document-list-check js-document-id-#{section.id}" %><br>
  </td>

  <td>
    <%= section.uid %>
  </td>

  <td>
    <%= translated_attribute(section.title).presence || t("sections.empty", scope: "decidim.participatory_documents.admin.documents") %>
  </td>

  <td>
    <%= section.annotations.pluck(:page_number).join(", ") %>
  </td>

  <td>
    <%= section.state %>
  </td>

  <td>
    <%= boolean_label(section.published_at.present?) %>
  </td>

  <td class="table-list__actions">
  </td>
</tr>
