<tr data-id="<%= zone.id %>">
  <td>
    <%= check_box_tag "document_ids_s[]", zone.id, false,
                      class: "js-check-all-document js-document-list-check js-document-id-#{zone.id}" %><br>
  </td>
  
  <td>
    <%= zone.uid %>
  </td>

  <td>
    <%= translated_attribute(zone.title).presence || t("zones.empty", scope: "decidim.participatory_documents.admin.documents") %>
  </td>

  <td>
    <%= zone.annotations.pluck(:page_number).join(", ") %>
  </td>

  <td>
    <%= zone.state %>
  </td>

  <td>
    <%= boolean_label(zone.published_at.present?) %>
  </td>

  <td class="table-list__actions">
  </td>
</tr>
