<div class="card full-height">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <%= t(".title") %>
      <div class="flex--cc flex-gap--1">
        <% if allowed_to? :create, :participatory_document %>
          <%= link_to new_document_path,
                      title: t("actions.new", scope: "decidim.participatory_documents"),
                      class: "button button--simple" do  %>
            <%= icon "document", class: "icon icon-document" %>
            <span><%= t("actions.new", scope: "decidim.participatory_documents") %></span>
          <% end %>
        <% end %>
      </div>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th>
            <%= check_box_tag "documents_bulk", "all", false, class: "js-check-all" %>
          </th>
          <th>
            <%= t("models.document.fields.id", scope: "decidim.participatory_documents") %>
          </th>
          <th>
            <%= t("models.document.fields.title", scope: "decidim.participatory_documents") %>
          </th>
          <th>
            <%= t("models.document.fields.document_section", scope: "decidim.participatory_documents") %>
          </th>
          <th>
            <%= t("models.document.fields.state", scope: "decidim.participatory_documents") %>
          </th>
          <th>
            <%= t("models.document.fields.published", scope: "decidim.participatory_documents") %>
          </th>
          <th class="actions"><%= t("actions.title", scope: "decidim.participatory_documents") %></th>
        </tr>
        </thead>
        <tbody>
        <% documents.each do |document| %>
          <%= render partial: "document-tr", locals: { document: document } %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
