<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
    </h2>
  </div>

  <%= admin_filter_selector(:documents) %>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th>
            <%= sort_link(query, :id, t("models.document.fields.id", scope: "decidim.participatory_documents"), default_order: :desc ) %>
          </th>
          <th>
            <%= sort_link(query, :translated_title, t("models.document.fields.title", scope: "decidim.participatory_documents"), default_order: :desc ) %>
          </th>
          <th class="actions"><%= t(".actions.title") %></th>
        </tr>
        </thead>
        <tbody>
        <% documents.each do |document| %>
          <tr data-id="<%= document.id %>">
            <td>
              <%= document.id %><br>
            </td>
            <td>
              <%= translated_attribute document.title %><br>
            </td>
            <td class="table-list__actions">
              <% if allowed_to? :update, :participatory_document, document: document %>
                <%= icon_link_to "pencil", edit_document_path(document), t(".actions.edit"), class: "action-icon--edit" %>
              <% end  %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate documents, theme: "decidim" %>
    </div>
  </div>
</div>

