

<div class="reveal-overlay">
  <div class="reveal" id="editor-modal">
    <%= decidim_form_for([document, @form], html: { class: "form" }) do |form| %>
      <%= form.hidden_field :uid %>
      <div class="card">
        <div class="card-divider">
          <h2 class="card-title" id="editor-modal-title">Card title</h2>
        </div>
        <div class="card-section" id="editor-modal-content">
          <%= form.translated :text_field, :title, autofocus: true %>
        </div>
        <div class="card-section" id="editor-modal-content">
          <%= form.translated :text_area, :description %>
        </div>

        <div class="card-section">
          <div class="row"> <%= form.check_box :published_at, { checked: @form.published? } %></div>
          <div class="row"> <%= form.check_box :private %></div>
          <div class="row"> <%= form.check_box :closed_at, { checked: @form.closed? }%></div>
        </div>

      </div>
    <% end %>
    <div class="button--double form-general-submit">
      <button class="button" id="editor-modal-save">Save</button>
      <button class="button alert" id="editor-modal-remove">Delete</button>
    </div>

    <button class="close-button" id="editor-modal-close" data-close aria-label="Close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
