<div class="flex align-middle gap-x-4 ml-auto" id="js-other-actions-wrapper">
  <%= render "decidim/participatory_documents/admin/suggestions/bulk_actions/dropdown" %>
  <%= export_dropdown %>
  <%= render partial: "decidim/participatory_documents/admin/suggestions/bulk_actions/assign_to_valuator" %>
  <%= render partial: "decidim/participatory_documents/admin/suggestions/bulk_actions/unassign_from_valuator" %>
  <%= render partial: "decidim/participatory_documents/admin/suggestions/bulk_actions/publish_answers" %>
</div>
