<div class="item__edit-form">
  <%= decidim_form_for(@form, url: answer_document_suggestion_path(document, suggestion),
                       html: { class: "form-defaults form edit_suggestion suggestion_form_admin" }) do |form| %>
    <div class="form__wrapper">
      <div class="card pt4" id="suggestion-answer">
        <div>
          <h2 class="show-form-title"><%= t ".title" %></h2>
        </div>
        <div class="card-section">
          <div class="row flex">
            <%= form.collection_radio_buttons :state, [
              ["not_answered", t("not_answered", scope: "decidim.participatory_documents.suggestions.answers")],
              ["accepted", t("accepted", scope: "decidim.participatory_documents.suggestions.answers")],
              ["rejected", t("rejected", scope: "decidim.participatory_documents.suggestions.answers")],
              ["evaluating", t("evaluating", scope: "decidim.participatory_documents.suggestions.answers")]
            ], :first, :last, prompt: true do |builder| %>
              <div class="answer-container__radio mr-4">
                <%= builder.radio_button(id: builder.value) %>
                <label for="<%= builder.value %>">
                  <%= builder.text %>
                </label>
              </div>
            <% end %>
          </div>

          <div class="row column">
            <%= form.translated :text_area, :answer, autofocus: true, rows: 15 %>
          </div>

          <div class="row column">
            <%= form.check_box :answer_is_published, label: t(".answer_is_published") %>
          </div>

        </div>
      </div>
    </div>
    <div class="button button__sm button__secondary">
      <%= form.submit t(".answer") %>
    </div>
  <% end %>
</div>
