<tr <%= "data-published-state=false" if suggestion.has_answer? && suggestion.not_not_answered? && !suggestion.answer_is_published? %>>
  <td>
    <%= check_box_tag "suggestions_ids_s[]", suggestion.id, false, class: "js-check-all-suggestion js-suggestion-list-check  js-suggestion-id-#{suggestion.id}" %><br>
  </td>
  <td><%= suggestion.id %></td>
  <td>
    <%= link_to truncate(suggestion_content(suggestion)[:text], length: 50), document_suggestion_path(document, suggestion) %>
    <% if suggestion_content(suggestion)[:file_link] %>
      <%= suggestion_content(suggestion)[:file_link] %>
    <% end %>
  </td>
  <td><%= suggestion.try(:normalized_author).try(:name) %></td>
  <td><%= suggestion.suggestable.is_a?(Decidim::ParticipatoryDocuments::Document) ? t(".global") : translated_attribute(suggestion.suggestable.title) %></td>
  <td>
    <% if suggestion.has_answer? %>
      <%= humanize_boolean suggestion.answered? && suggestion.answer_is_published? %>
    <% else %>
      -
    <% end %>
  </td>
  <td><%= humanize_suggestion_state(suggestion.state) %></td>
  <td class="valuators-count">
    <% count = suggestion.valuation_assignments.size %>
    <% if count.zero? %>
      0
    <% else %>
      <%= suggestion.valuation_assignments.first&.valuator_role&.user&.name %>
      <%= "(+#{(count - 1)})" if count > 1 %>
    <% end %>
  </td>
  <td><%= l suggestion.created_at, format: :decidim_short %></td>
  <td><%= icon_with_link_to_suggestion(document, suggestion) %></td>
</tr>
