
<% if suggestion.valuators.any? || allowed_to?(:assign_to_valuator, :suggestions) %>
  <div class="card">
    <div>
      <h2 class="show-form-title"> <%= t ".valuators" %></h2>
    </div>

    <div class="card-section">
      <div class="row column">
        <% if suggestion.valuators.any? %>
          <strong><%= t ".assigned_valuators" %>:</strong>
          <ul id="valuators">
            <% suggestion.valuation_assignments.each do |assignment| %>
              <% presented_valuator = present(assignment.valuator) %>
              <li class="flex items-center">
                <%= link_to(
                      presented_valuator.name,
                      presented_valuator.profile_path,
                      target: :blank,
                      class: "mr-2"
                    ) %>
                <% if valuator_assigned_to_suggestion? || current_user.admin? %>
                  <%= icon_link_to(
                        "close-circle-line",
                        document_suggestion_valuation_assignment_path(document, suggestion, assignment.valuator_role),
                        t(".remove_assignment"),
                        method: :delete,
                        data: { confirm: t(".remove_assignment_confirmation") },
                        class: "close-icon text-alert"
                      ) %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <%= render "decidim/participatory_documents/admin/suggestions/add_valuators" %>

      </div>
    </div>
  </div>
<% end %>
