<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <div>
        <%= t(".title") %>
        <span id="js-selected-suggestions-count" class="component-counter component-counter--inline" title="<%= t("decidim.participatory_documents.admin.suggestions.index.selected") %>"></span>
      </div>
      <%= render "decidim/participatory_documents/admin/suggestions/bulk-actions" %>
      <% if defined?(button) && button == :back %>
        <%= back_btn %>
      <% else %>
        <%= pdf_manage_buttons(document) %>
      <% end %>
    </h1>
  </div>
  <%= admin_filter_selector(:suggestions) %>
  <div class="table-scroll mt-16">
    <table class="table-list">
      <thead>
      <tr>
        <th><%= check_box_tag "suggestions_bulk", "all", false, id: "suggestions_bulk", class: "js-check-all" %></th>
        <th><%= sort_link(query, :id, t(".id"), default_order: :desc) %></th>
        <th><%= sort_link(query, :translated_body, t(".suggestion")) %></th>
        <th><%= sort_link(query, :author, t(".author")) %></th>
        <th><%= sort_link(query, :suggestable, t(".section")) %></th>
        <th><%= sort_link(query, :published, t(".published_answer")) %></th>
        <th><%= sort_link(query, :state, t(".state")) %></th>
        <th><%= sort_link(query, :valuation_assignments_count, t("models.suggestion.fields.valuators", scope: "decidim.participatory_documents")) %></th>
        <th><%= sort_link(query, :created_at, t(".created_at")) %></th>
        <th class="actions"><%= t(".actions.title") %></th>
      </tr>
      </thead>
      <% suggestions.each do |suggestion| %>
        <%= render "decidim/participatory_documents/admin/suggestions/suggestion", suggestion: suggestion %>
      <% end %>
      <tbody>
      </tbody>
    </table>
    <%= paginate suggestions, theme: "decidim" %>
  </div>
</div>
<%= append_stylesheet_pack_tag "decidim_admin_participatory_documents" %>
