<div class="card with-overflow">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= t(".title") %>
        <span id="js-selected-suggestions-count" class="component-counter component-counter--inline" title="<%= t("decidim.participatory_documents.admin.suggestions.index.selected") %>"></span>
      </div>
      <div class="flex--cc flex-gap--1">
        <%= render "decidim/participatory_documents/admin/suggestions/bulk-actions" %>
        <% if defined?(button) &&  button == :back %>
          <%= back_btn %>
        <% else %>
          <%= pdf_manage_button(document) %>
        <% end %>
      </div>
    </h2>
  </div>
  <%= admin_filter_selector(:suggestions) %>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th><%= check_box_tag "suggestions_bulk", "all", false, id: "js-check-all" %></th>
          <th><%= sort_link(query, :id, t(".id"), default_order: :desc ) %></th>
          <th><%= sort_link(query, :translated_body, t(".suggestion") ) %></th>
          <th><%= sort_link(query, :suggestable, t(".section")) %></th>
          <th><%= sort_link(query, :state, t(".state")) %></th>
          <th><%= sort_link(query, :created_at, t(".created_at")) %></th>
          <th class="actions"><%= t(".actions.title") %></th>
        </tr>
        </thead>
          <% suggestions.each do |suggestion| %>
          <tr>
            <td>
              <%= check_box_tag "suggestions_ids_s[]", suggestion.id, false, class: "js-check-all-suggestion js-suggestion-list-check  js-suggestion-id-#{suggestion.id}" %><br>
            </td>
            <td><%= suggestion.id %></td>
            <td><%= truncate(translated_attribute(suggestion.body), length: 50) %></td>
            <td><%= suggestion.suggestable.is_a?(Decidim::ParticipatoryDocuments::Document) ? t(".global") : translated_attribute(suggestion.suggestable.title) %></td>
            <td><%= humanize_suggestion_state(suggestion.state) %></td>
            <td><%= l suggestion.created_at, format: :decidim_short %></td>
            <td><%= icon_with_link_to_suggestion(document, suggestion) %></td>
          </tr>
          <% end %>
        <tbody>
        </tbody>
      </table>
      <%= paginate suggestions, theme: "decidim" %>
    </div>
  </div>
</div>

<script type="text/javascript">
    const showBulkActionsButton = function() {
        if (selectedSuggestionsCount() > 0) {
            document.getElementById("js-bulk-actions-button").classList.toggle("hide");
        }
    }
    const hideBulkActionsButton = function(force = false) {
        if (selectedSuggestionsCount() === 0 || force === true) {
            document.getElementById("js-bulk-actions-button").classList.add("hide");
            document.getElementById("js-bulk-actions-dropdown").classList.remove("is-open");
        }
    }

    const selectedSuggestionsCount = function() {
        return document.querySelectorAll(".table-list .js-check-all-suggestion:checked").length
    }

    const selectedSugestionsCountUpdate = function() {
        const selectedSuggestions = selectedSuggestionsCount();
        if (selectedSuggestions === 0) {
            document.getElementById("js-selected-suggestions-count").innerHTML = "";
        } else {
            document.getElementById("js-selected-suggestions-count").innerHTML = selectedSuggestions;
        }
    }


    const hideOtherActionsButtons = function() {
        // document.getElementById("js-other-actions-wrapper").classList.add("hide");
    }


    const hideBulkActionForms = function() {
        document.querySelectorAll(".js-bulk-action-form").forEach(form => {
            form.classList.add("hide");
        });
    }

    if (document.querySelectorAll(".js-bulk-action-form").length) {
        hideBulkActionForms();
        document.getElementById("js-bulk-actions-button").classList.add("hide");
        document.querySelectorAll("#js-bulk-actions-dropdown ul li button").forEach(button => {
            button.addEventListener("click", (e) => {
                e.preventDefault();
                let action = e.target.dataset.action;

                if (action) {
                    document.getElementById(`js-form-${action}`).addEventListener("submit", e => {
                        document.querySelector(".layout-content > .callout-wrapper").innerHTML = "";
                    });
                    document.getElementById(`js-${action}-actions`).classList.remove("hide");
                    hideBulkActionsButton(true);
                    hideOtherActionsButtons();
                }

            })
        });

        const checkAll = document.getElementById("js-check-all");
        checkAll.addEventListener("change", (e) => {
            document.querySelectorAll(".js-check-all-suggestion").forEach(suggestion => {
                suggestion.checked = checkAll.checked;
                suggestion.closest("tr").classList.toggle("selected");
            });

            if (checkAll.checked) {
                showBulkActionsButton();
            } else {
                hideBulkActionsButton();
            }

            selectedSugestionsCountUpdate();
        });

        document.querySelectorAll(".js-check-all-suggestion").forEach(checkbox => {
            checkbox.addEventListener("change", e => {
                let suggestionId = e.target.value;
                let checked = e.target.checked;

                let selector = ".table-list .js-check-all-suggestion"
                document.getElementById("js-check-all").checked =
                    document.querySelectorAll(`${selector}:checked`).length === document.querySelectorAll(selector).length;

                if(checked) {
                    showBulkActionsButton();
                    e.target.closest("tr").classList.add("selected");
                } else {
                    hideBulkActionsButton();
                    e.target.closest("tr").classList.remove("selected");
                }

                if (selectedSuggestionsCount() === 0) {
                    hideBulkActionsButton();
                }

                document.querySelector(`.js-bulk-action-form .js-suggestion-id-${suggestionId}`).checked = checked;

                selectedSugestionsCountUpdate();
            });
        });

        document.querySelectorAll(".js-cancel-bulk-action").forEach(cancel => {
            cancel.addEventListener("click", e => {
                hideBulkActionForms()
                showBulkActionsButton();
                showOtherActionsButtons();
            })
        })
    }
</script>