<div class="card with-overflow">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= t(".title") %>
        <span id="js-selected-suggestions-count" class="component-counter component-counter--inline" title="<%= t("decidim.participatory_documents.admin.suggestions.index.selected") %>"></span>
      </div>
      <div class="flex--cc flex-gap--1">
        <%= render "decidim/participatory_documents/admin/suggestions/bulk-actions" %>
        <% if defined?(button) &&  button == :back %>
          <%= back_btn %>
        <% else %>
          <%= pdf_manage_button(document) %>
        <% end %>
      </div>
    </h2>
  </div>
  <%= admin_filter_selector(:suggestions) %>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th><%= check_box_tag "suggestions_bulk", "all", false, id: "suggestions_bulk", class: "js-check-all" %></th>
          <th><%= sort_link(query, :id, t(".id"), default_order: :desc ) %></th>
          <th><%= sort_link(query, :translated_body, t(".suggestion") ) %></th>
          <th><%= sort_link(query, :author, t(".author")) %></th>
          <th><%= sort_link(query, :suggestable, t(".section")) %></th>
          <th><%= sort_link(query, :published, t(".published_answer")) %></th>
          <th><%= sort_link(query, :state, t(".state")) %></th>
          <th><%= sort_link(query, :valuation_assignments_count, t("models.suggestion.fields.valuators", scope: "decidim.participatory_documents") ) %></th>
          <th><%= sort_link(query, :created_at, t(".created_at")) %></th>
          <th class="actions"><%= t(".actions.title") %></th>
        </tr>
        </thead>
          <% suggestions.each do |suggestion| %>
            <%= render "decidim/participatory_documents/admin/suggestions/suggestion",  suggestion: suggestion %>
          <% end %>
        <tbody>
        </tbody>
      </table>
      <%= paginate suggestions, theme: "decidim" %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "decidim_participatory_documents_admin" %>
