<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      Suggestion for <%= translated_attribute(suggestion.suggestable.title) %>
      <%#= link_to "#{t ".proposals"} > ", proposals_path %>
      <%#= decidim_html_escape(present(proposal).title).html_safe %>

      <%# if allowed_to? :edit, :proposal, proposal: proposal %>
        <%#= icon_link_to "pencil", edit_proposal_path(proposal), t("actions.edit_proposal", scope: "decidim.proposals"), class: "action-icon--edit-proposal" %>
      <%# end %>
    </h2>
  </div>
  <div class="card-section">

    <div class="row column">
      <strong><%= t ".authors" %>:</strong>
      <ul id="proposal-authors-list">
          <li>
            <% presented_author = present(suggestion.author) %>
            <%= link_to_if(
                  presented_author.profile_path.present?,
                  presented_author.name,
                  presented_author.profile_path,
                  target: :blank
                ) %>
            <% if presented_author.can_be_contacted? && presented_author.nickname != present(current_user).nickname %>
              <%= icon_link_to "envelope-closed", current_or_new_conversation_path_with(presented_author), t("decidim.contact"), class:"action-icon--new" %>
            <% end %>
          </li>
        <%# end %>
      </ul>
    </div>

    <div class="row column">
      <strong><%= t ".body" %>:</strong>
      <p><%= translated_attribute(suggestion.body) %></p>
    </div>

    <div class="row column">
      <strong><%= t ".created_at" %>:</strong> <%= l suggestion.created_at, format: :decidim_short %>
    </div>

  </div>
</div>

<%= decidim_form_for(@form, url: answer_document_suggestion_path(document, suggestion), html: { class: "form edit_suggestion suggestion_form_admin" })  do |form| %>
  <div class="card" id="suggestion-answer">
    <div class="card-divider">
      <h2 class="card-title"><%= t ".title" %></h2>
    </div>
    <div class="card-section">
      <div class="row column">
        <%= form.collection_radio_buttons :state, [
          ["not_answered", t("not_answered", scope: "decidim.participatory_documents.suggestions.answers")],
          ["accepted", t("accepted", scope: "decidim.participatory_documents.suggestions.answers")],
          ["rejected", t("rejected", scope: "decidim.participatory_documents.suggestions.answers")],
          ["evaluating", t("evaluating", scope: "decidim.participatory_documents.suggestions.answers")]
        ], :first, :last, prompt: true %>
      </div>

      <div class="row column">
        <%= form.translated :text_area, :answer, autofocus: true, rows: 15 %>
      </div>

      <div class="row column">
        <%= form.check_box :answer_is_published, label: t(".answer_is_published") %>
      </div>

    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= form.submit t(".answer") %>
  </div>
<% end %>
