<div style="margin-bottom: 15px">
  <b><%= t("suggestion_form.title", scope: "decidim.participatory_documents.ui_messages") %></b>
</div>
<div id="formContainer">
  <%= decidim_form_for(@form, url: document_suggestions_path(document), html: { class: "form-defaults form send-suggestions-form", multipart: true }) do |form| %>
    <div id="messageForm" class="form-section">
      <div class="row column mb-4">
        <%= form.text_area :body %>
      </div>
    </div>
    <div class="row column mb-2">
      <%= form.upload :file, button_class: "button button__sm button__transparent-secondary" %>
    </div>
    <%= form.submit t("send_suggestion", scope: "decidim.participatory_documents.document"),
                    id: "editor-modal-save",
                    name: "editor-modal-save",
                    class: "button button__sm button__secondary" %>
  <% end %>
</div>
