<div style="margin-bottom: 15px">
  <b><%= t("suggestion_form.title", scope: "decidim.participatory_documents.ui_messages") %></b>
</div>
<div id="formContainer">
  <%= decidim_form_for(@form, url: document_suggestions_path(document), html: { class: "form", multipart: true }) do |form| %>
    <div id="messageForm" class="form-section">
      <div class="column">
        <%= form.text_area :body %>
      </div>
    </div>
    <div id="fileForm" class="form-section">
      <div class="column">
        <div id="fileInputContainer">
          <%= form.file_field :file, id: "file-upload-field", style: "display: none;", label: false %>
          <p id="fileNameContainer"></p>
        </div>
        <p>
          <%= link_to "#", class: "file-upload", onclick: "document.getElementById('file-upload-field').click(); return false;" do %>
            <%= icon "paperclip" %>
            <%= t "upload_file", scope: "decidim.participatory_documents.document" %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="button--double form-general-submit">
      <%= form.submit t("send_suggestion", scope: "decidim.participatory_documents.document"), id: "editor-modal-save", name: "editor-modal-save" %>
    </div>
  <% end %>
</div>
