<div class="author__info flex--sbc">
  <% if @reverse_order %>
    <span class="author__data_date">
      <%= render :date %>
    </span>
    <span class="author__data">
      <%= render :name %>
      <%= render :avatar %>
    </span>
  <% else %>
    <span class="author__data">
      <%= render :avatar %>
      <%= render :name %>
    </span>
    <span class="author__data_date">
      <%= render :date %>
    </span>
  <% end %>
</div>
