<div class="author__info flex--sbc">
  <% if @reverse_order %>
    <span class="author__data_date">
      <%= render :date %>
    </span>
    <span class="author__data">
      <strong>
        <%= t("suggestion_state", scope: "decidim.participatory_documents.document" ,suggestion_state: suggestion_state) %>
      </strong>
    </span>
  <% else %>
    <span class="author__data">
      <%= render :avatar %>
      <%= render :name %>
    </span>
    <span class="author__data_date">
      <%= render :date %>
    </span>
  <% end %>
</div>
