<% if note.author == current_user %>
  <%= cell("decidim/participatory_documents/edit_suggestion_note_modal", note, modal_id: "editNoteModal#{note.id}", note: note, suggestion: suggestion) %>
  <button type="button" class="link-alt m-xs"
          data-dialog-open="<%= current_user.present? ? "editNoteModal#{note.id}" : "loginModal" %>"
          title="<%= t("modal.title", scope: "decidim.participatory_documents.admin.suggestion_notes") %>"
          aria-controls="<%= current_user.present? ? "editNoteModal#{note.id}" : "loginModal" %>"
          aria-haspopup="true"
          tabindex="0"
          style="color:#97a2b2; cursor: pointer">
    <%= icon "pencil-line", aria_hidden: true, class: "action-icon--preview", role: "img", "aria-hidden": true %>
  </button>
<% end %>
<% if note.created_at != note.updated_at %>
  <span class="text-muted">
    <%= t("update.edited", scope: "decidim.participatory_documents.admin.suggestion_notes") %>
    <%= l note.updated_at, format: :short %>
  </span>
<% end %>
